# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/

# Build outputs
build/
ios/Pods/
android/.gradle/
android/app/build/

# Web
web/.dart_tool/

# VS Code / IntelliJ
.vscode/
.idea/

# MacOS / Windows
*.iml
*.ipr
*.iws
.DS_Store

# Others
*.log
